**/lesson-remote-info.yaml
**/section-remote-info.yaml
**/task-remote-info.yaml

/build/
/**/build/
/.gradle/
/.idea/
/.coursecreator/
/**/out/
.gradle

# Intellij
*.iml
.idea

.DS_Store
Thumbs.db

form_filled.pdf